.wrapper__main_chat
  .wrapper__main_chat__group-info
    .wrapper__main_chat__group-info__1  
      .wrapper__main_chat__group-info__1__2
        %p.name1
          test
        %p.name2
          Member：masa
      .wrapper__main_chat__group-info__1__3
        = link_to "Edit", "#", class:"edit-btn"
  .wrapper__main_chat__message-list
    .wrapper__main_chat__message-list__a
      %p.info1
        masa
      %p.info2
        2019/11/20(Wed) 17:43:01
    .wrapper__main_chat__message-list__b
      おはよう！
    .wrapper__main_chat__message-list__a
      %p.info1
        masa
      %p.info2
        2019/11/20(Web) 17:43:34
    .wrapper__main_chat__message-list__b
      今日は夜から雨
  .wrapper__main_chat__message-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas','image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class:"submit-btn"}




