.wrapper__side_bar
  .wrapper__side_bar__user-name
    .wrapper__side_bar__user-name__1
      .wrapper__side_bar__user-name__1__2
        .wrapper__side_bar__user-name__1__2__3
          masa
        .wrapper__side_bar__user-name__1__2__4
          = link_to "#", class: "wrapper__side_bar__user-name__1__2__4__btn" do
            = icon('far', 'edit', class: "wrapper__side_bar__user-name__1__2__4__btn--icona") 
          = link_to "#", class: "wrapper__side_bar__user-name__1__2__4__btn" do
            = icon('fas', 'cog', class: "wrapper__side_bar__user-name__1__2__4__btn--iconb") 
  .wrapper__side_bar__group-list
    .wrapper__side_bar__group-list__1
      %p.hoge1 techcamp
      %p.hoge2 まだメッセージがありません
    .wrapper__side_bar__group-list__1
      %p.hoge1 techcamp
      %p.hoge2 まだメッセージがありません
    .wrapper__side_bar__group-list__1
      %p.hoge1 techcamp
      %p.hoge2 まだメッセージがありません
    .wrapper__side_bar__group-list__1
      %p.hoge1 techcamp
      %p.hoge2 まだメッセージがありません
