.index
  .header01
    .header01__logo1
      .top
        Tell me about me ！
    .header01__logo2
      .about
        = link_to "このサービスについて", users_about_path, class: 'post'
      .user
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
  .wrap
    .content01
      自分のことは
    .content02
      他人が一番知っている!?
    %p.text
      就活、キャリアプラン、人生設計 etc.. 
      %br>/
      これからのライフプランを描くにあたって最も重要なことは自分を知ること。
      %br>/
      でもそれをほとんどの人は自分だけで終わらせてしまい、間違った道へと進んでしまうことが多い。
      %br>/
      %br>/
      ”人間は思い込みの生き物”
      %br>/
      %br>/
      だから”自分のことは自分が一番知っている”なんて言ってないで”Tell me about me ！”と声を上げていこう。
      %br>/
      %br>/
      本当の自分を知る為に。
      
      



  -# .footer
  -#   %small (C)2019 takuyamaejimma.

 
